# Directories
# .git
.pioenvs
Info IR
# lib
# src


# Files in root
.clang_complete
.gcc-flags.json
# .gitignore
.travis.yml
INFO SUELTA.txt
# platformio.ini

# Extra in directories
lib/LiquidCrystal_I2C/docs
lib/LiquidCrystal_I2C/examples
